{#
/**
 * @file
 * Footer include for MyEventLane Vendor Console.
 */
#}
<div class="mel-footer">
  <div class="mel-footer__left">
    <span class="mel-footer__brand">MyEventLane</span>
    <span class="mel-footer__meta">{{ 'Performance, payouts, and audience in one place.'|t }}</span>
  </div>
  <div class="mel-footer__right">
    {% if page.footer_links %}
      {{ page.footer_links }}
    {% else %}
      <a href="/vendor/settings" class="mel-footer__link">{{ 'Settings'|t }}</a>
      <a href="/vendor/payouts" class="mel-footer__link">{{ 'Payouts'|t }}</a>
      <a href="/" class="mel-footer__link">{{ 'Main Site'|t }}</a>
    {% endif %}
  </div>
</div>

