{#
/**
 * @file
 * Theme override for the cart block.
 *
 * Available variables:
 * - count: The number of items in the cart.
 * - count_text: The textual representation of the cart count.
 * - url: The cart page URL.
 * - content: The cart block content (dropdown).
 */
#}

<div{{ attributes.addClass('mel-cart-block') }}>
  <a href="{{ url }}" class="mel-cart-block-link mel-cart-badge" title="{{ 'View cart'|t }}">
    <svg class="mel-cart-block-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    {% if count > 0 %}
      <span class="mel-cart-badge-count" aria-label="{{ count_text }}">{{ count }}</span>
    {% endif %}
    <span class="visually-hidden">{{ count_text }}</span>
  </a>

  {% if content %}
    <div class="mel-mini-cart">
      {{ content }}
    </div>
  {% endif %}
</div>






