{#
/**
 * @file
 * HTML template for MyEventLane Vendor Theme.
 *
 * This is the outermost template - controls the entire HTML document.
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <style>
      /* Force hide any menus that appear before the vendor shell */
      body.mel-vendor-theme > ul,
      body.mel-vendor-theme > nav,
      body.mel-vendor-theme > div > ul.menu,
      body.mel-vendor-theme > header:not(.mel-vendor-shell__header),
      body.mel-vendor-theme .region-header,
      body.mel-vendor-theme #block-myeventlane-vendor-theme-main-menu,
      body.mel-vendor-theme .block-system-menu-block,
      body.mel-vendor-theme .menu--vendor,
      body.mel-vendor-theme .block-menu,
      .toolbar-oriented,
      body.mel-vendor-theme > .dialog-off-canvas-main-canvas > ul,
      body.mel-vendor-theme > .dialog-off-canvas-main-canvas > nav,
      body.mel-vendor-theme > .dialog-off-canvas-main-canvas > header:first-child,
      body.mel-vendor-theme .layout-container > header:first-child,
      body.mel-vendor-theme .layout-container > nav:first-child,
      #block-myeventlane-vendor-theme-vendormenu,
      .block-myeventlane-vendor-menu {
        display: none !important;
      }
      
      /* Ensure the vendor shell is the first visible element */
      body.mel-vendor-theme > .dialog-off-canvas-main-canvas > .mel-vendor-shell,
      body.mel-vendor-theme .mel-vendor-shell {
        display: grid !important;
      }
    </style>
  </head>
  <body{{ attributes.addClass('mel-vendor-theme') }}>
    {#
      Privileged users see the admin toolbar. We don't want to hide that.
      But we DO want to hide any menu blocks that appear.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>

















